/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

/* Navigation Styles */
/* Navigation Styles */
nav {
    background-color: #5f425f;
    text-align: center; /* Memposisikan teks di tengah */
}

nav ul {
    list-style-type: none;
    padding: 20px 0;
    display: inline-block; /* Mengubah ul menjadi inline-block agar bisa diposisikan di tengah */
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li:last-child {
    margin-right: 0; /* Menghapus margin kanan pada elemen terakhir */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #ccc;
}


/* Content Styles */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    width: 450px;
    margin: auto auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="file"],
form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5f425f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #3a233a;
}

